@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@200;300;400;600;700&display=swap");

html,
body,
/* #__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  scroll-behavior: smooth;
} */

#__next {
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  background-color: #ffffff;
  color: #29303f;
  flex: 1;
}

/* main {
  display: flex;
  flex-direction: column;
  flex: 1;
} */

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
